---
# tasks file for install_docker
# - name: Add Docker's official GPG key
#   ansible.builtin.apt_key:
#     url: https://download.docker.com/linux/ubuntu/gpg
#     state: absent

# deb [arch={{ ansible_architecture }} signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu {{ansible_lsb.codename}} stable
- name: Get latest stable Kubernetes version
  uri:
    url: https://dl.k8s.io/release/stable.txt
    return_content: yes
  register: kubernetes_version

- name: Set kubernetes_repo_version via split
  set_fact:
    kubernetes_repo_version: "{{ (kubernetes_version.content.split('.')[:2]) | join('.') }}"

- name: Install container packages
  ansible.builtin.include_role:
    name: ansible-role-basic
  vars:
    base: "{{ container }}"

- name: Grant Non-Root User Permission
  ansible.builtin.user:
    name: "{{ item }}"
    groups: docker
    append: yes
  loop: "{{ docker_user }}"

- name: Modify config.toml to enable CRI plugin
  lineinfile:
    path: /etc/containerd/config.toml
    regexp: '^disabled_plugins = \[.*"cri".*\]'
    line: 'disabled_plugins = []'
    state: present
  notify: restart containerd

- name: Config cri-o
  template:
    src: "20-cgroup-manager.j2"
    dest: "/etc/crio/crio.conf.d"
  notify: restart crio

- name: Download docker-volume-netshare Plugin
  get_url:
    url: https://github.com/ContainX/docker-volume-netshare/releases/download/v0.36/docker-volume-netshare_0.36_amd64.deb
    dest: /tmp/docker-volume-netshare_0.36_amd64.deb
  when: include_docker_volume_netshare

- name: Install docker-volume-netshare Plugin
  apt:
    deb: /tmp/docker-volume-netshare_0.36_amd64.deb
  when: include_docker_volume_netshare

- name: Copying over docker-volume-netshare.service using docker-volume-netshare.service.j2 template
  template:
    src: docker-volume-netshare.service.j2
    dest: "/lib/systemd/system/docker-volume-netshare.service"
    owner: root
    group: root
    mode: 0644
  when: include_docker_volume_netshare

- name: Starting service
  systemd:
    daemon_reload: yes
    name: docker-volume-netshare
    state: restarted
  when: include_docker_volume_netshare

#docker plugin install --grant-all-permissions vieux/sshfs
